body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.hero {
  background-color: #88B5D2;
  background-image: 
  url("../img/welcome.svg"),
  url("../img/polygon.svg"),
  url("../img/background_photo1.jpg");
  background-repeat: no-repeat;
  background-position: 370px 75px, 0px 451px,  -1px -55px;
  background-size: 459px 353px, 1201px 59px, auto auto;

  height: 508px;  
  overflow-y: hidden;
  margin-bottom: 60px;
}

.item-navigation {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item-navigation-name {
  width: 80px;
}

.info {
  text-align: left;
  padding-left: 32px;
  padding-right:148px;
}

.foto-video {
  text-align: left;
  padding-right: 388px;
}

.map-state {
 text-align: right;
 padding-right: 165px;
} 

.hotels {
  text-align: right; 
}

.logo {
  position: absolute;
  top: 0;
  left: 530px;
  width: 138px;
  height: 70px;
  z-index: 1;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color:#000;
  
  background-color: #fff;
}

.item-navigation {
  list-style: none;
}

.item-navigation a {
  color: #000;
}

.promotion-item {
  list-style: none;
}

.slogan {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
  width: 446px;
  margin: 0 auto;
}

.reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  font-weight: normal;
  background-color: #fff;
}

.reasons-1-text {
  background-color: #81b3d2;
  width: 400px;
}

.reasons-1-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  padding-top: 48px;
  padding-bottom: 7px;
  width: 124px;
  margin: 0 auto;
}

.reasons-1-number {
  text-align: center;
  color: #fff;
  font-weight: normal;
  padding-bottom: 10px;
}

.reasons-1-slogan {
  text-align: center;
  color: #fff;
  font-weight: normal;
  width: 284px;
  margin: 0 auto;
}

.promotion {
  background-color: #fff;
  margin-top: -8px;
}

.promotion-img {
  display: block;
  margin: auto;
}

.promotion-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 26px;
}

.promotion-text {
  text-align: center;
  color: #333;
  padding-bottom: 15px;
  font-weight: normal;
}

.promo-1 {
  width: 254px;
  margin: 0 auto;
}

.promo-2 {
  width: 290px;
  margin: 0 auto;
}

.promo-3 {
  width: 276px;
  margin: 0 auto;
}

.final-reasons {
  list-style: none;
}

.reasons-2-text {
  background-color: #81b3d2;
  width: 400px;
}

.reasons-2-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  padding-top: 48px;
  padding-bottom: 7px;
  width: 151px;
  margin: 0 auto;
}

.reasons-2-number {
  text-align: center;
  color: #fff;
  font-weight: normal;
  padding-bottom: 10px;
}

.reasons-2-slogan {
  text-align: center;
  color: #fff;
  font-weight: normal;
  width: 305px;
  margin: 0 auto;
}

.advantages-3 {
  background-color: #eee;
}

.final-reasons-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  padding-top: 63px;
  padding-bottom: 8px;
}

.title3 {
  width: 124px;
  margin: 0 auto;
}

.title4 {
  width: 103px;
  margin: 0 auto;
  padding-right: -10px;
}

.title5 {
  width: 105px;
  margin: 0 auto;
}

.final-reasons3 {
  width: 211px;
  margin: 0 auto;
}

.final-reasons4 {
  width: 267px;
  margin: 0 auto;
}

.final-reasons5 {
  width: 250px;
  margin: 0 auto;
}


.final-reasons-number {
  text-align: center;
  color: #333;
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 3px;
}

.line5 {
  padding-right: 8px;
}

.final-reasons-text {
  text-align: center;
  color: #333;
  font-weight: normal; 
  padding-left: 3px;
  margin-bottom: 20px;
  white-space: pre-line
}

.search-form {
  background-color: #fff;
}

.interest-text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  font-weight: normal;
  margin-left: 1px;
  margin-bottom: 9px;
  white-space: pre-line
}

.button-search {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:focus {
  background-color: #766357;
}

.button-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.5);
}

.form-search {
  background-color: #fff;
  color: #000;
}

.form-search input[type="text"],
.form-search input[type="number"] {
  font: inherit;
  color: #000;

  background-color: #f2f2f2;
  border: none;
}

.form-search input:focus {
  border-color: #ebebeb;
  background-color: #fff;
}

.form-search input:hover {
  background-color: #ebebeb;
}

.hashtag {
  color: #000000;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin-top: 8px;
  margin-left: 18px;
}

.social {
  list-style: none;
  margin-top: 6px;
  margin-left: -18px;
}

.footer-social {
  text-align: center;
}

.inner-page {
  color: #000;
  background-color: #fefefe;
}

.item-navigation-name:focus {
  color: #766357;
}

.item-navigation-name:hover {
  color: #81b3d2;
}

.item-navigation-name:active {
  color: #000;
  opacity: 0.3;
}

.comfort-head {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding-bottom: 4px;
}

.type-head {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin-left: -4px;
  padding-bottom: 4px;
}

.filter-option {
  list-style: none;

  text-align: left;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: normal;
}

.comfort, .type {
 border: none;
}

.selection-head {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.selection-sort {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-weight: normal;
  margin-right: -5px;
}

.selection-option {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  font-weight: normal;
  list-style: none;
  margin-top: 5px;
}

.dotted {
  color: #d9d9d9;
  border-bottom: 1px dotted #81b3d2;
  padding: 0;
}

.dotted:hover {
  color: #81b3d2;
  cursor: pointer;
}

.dotted:active {
  color: #000;
  border: none;
}

.price {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.price:hover {
  cursor: pointer;
}

.results-name {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.results-item-type {
  text-align: center;
  color: #333;
  font-weight: normal;
}

.results-item-price {
  text-align: center;
  color: #333;
  font-weight: normal;
  margin-left: -2px;
}

.results-item-moreinfo {
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
  margin-left: 2px;
}

.results-item-book {
  text-align: center;
  color: #fff;
  background-color: #766357;
  margin-left: -5px;
  margin-top: 2px;
}

.results-item-moreinfo:hover {
  background-color: #669ec0;
}

.results-item-moreinfo:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.results-item-book:hover {
  background-color: #604e43;
}

.results-item-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.5);
}

/* ----- Сеточные стили ----- */

img {
  max-width: 100%;
  height: auto;
} 

.big-container {
  margin: 0px auto;
  background-color: #fff;
  width: 1200px;
  -webkit-box-shadow: 5px 0 10px rgba(0,0,0,.1), -5px 0 10px rgba(0,0,0,.1);
  box-shadow: 5px 0 10px rgba(0,0,0,.1), -5px 0 10px rgba(0,0,0,.1);
  position: relative;
}

.reasons-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city-photo {
  height: 258px;  
  overflow-y: hidden;
}

.slogan {
 margin-bottom: 28px;
}

.reasons {
  margin-bottom: 50px;
  padding-right: -2px;
}

.promotion-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
}

.promotion-item {
  width: 400px;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.promotion {
 margin-bottom: 83px;

}

.photo-bridge {
  height: 257px;  
  overflow-y: hidden;
}

.advantages-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
}

.advantages-3 {
  padding-bottom: 40px;
  margin-top: -17px;
  padding-left: 19px;
}

.final-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.main-footer {
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ----- странница отелей ----- */

.sorting {
  background-color: #474C50;
  background-image: 
  url("../img/filter_background.jpg");
  background-repeat: no-repeat;

  height: 216px;  
  overflow-y: hidden;
}

.filter-range {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  
  margin-top: -32px;
  margin-left: 180px;
}

.form-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-left: 60px;
}

.type {
  padding-left: 105px;
  width: 288px;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 9px;
}

.selection-head {
  padding-left: 73px;
}

.selection-sort {
  padding-left: 48px;
  padding-top: 5px;
  padding-right: 5px;
}

.selection-option-total {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: start;
 -ms-flex-pack: start;
 justify-content: flex-start;
}

.selection-option {
  padding-right: 32px;
}

.selection-option-total {
  margin-right: 466px;
}

.selection-switcher-1 {
  -ms-flex-item-align: center;
  
  -ms-grid-row-align: center;
  
  align-self: center;
  margin-top:5px;
  background: none;
  border: none;
}

.selection-switcher-2 {
  padding-left: 7px;
  margin-top:5px;
  background: none;
  border: none;
}

.selection-switcher-1 polygon {
 fill: #cacaca;
}

.selection-switcher-2 polyline {
  fill: #81b3d2;
}

.selection-switcher-1:hover {
  cursor: pointer;
}

.selection-switcher-2:hover {
  cursor: pointer;
}

.selection-switcher-1:hover polygon {
  fill: #231f20;
}

.selection-switcher-2:hover polyline {
  fill: #231f20;
}

.selection-switcher-1:active polygon {
  fill: #81b3d2;
}

.selection-switcher-2:active polyline {
  fill: #81b3d2;
}

.results-item {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 border-top: 1px solid #e5e5e5;
 padding: 0 73px;
}

.results {
  border-bottom: 1px solid #e5e5e5;
}

.results-item-img {
  width: 135px;
  height: 90px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  padding-right: 28px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.results-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.results-name {
  margin: 0px;
  padding-top: 28px;
  padding-bottom: 15px;
  padding-left: 3px;
}

.results-item-reating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: -5px;
}

.stars-4 {
  background-image: 
  url("../img/stars.svg"),
  url("../img/stars.svg"),
  url("../img/stars.svg"),
  url("../img/stars.svg"); 
  background-repeat: no-repeat;
  background-position: 20px 30px, 45px 30px, 70px 30px, 92px 30px;
  margin-bottom: -35px;
}

.stars-3 {
  background-image: 
  url("../img/stars.svg"),
  url("../img/stars.svg"),
  url("../img/stars.svg"); 
  background-repeat: no-repeat;
  background-position: 45px 30px, 70px 30px, 92px 30px;
  margin-bottom: -35px;
}

.stars-2 {
  background-image: 
  url("../img/stars.svg"),
  url("../img/stars.svg"); 
  background-repeat: no-repeat;
  background-position: 70px 30px, 92px 30px;
  margin-bottom: -35px;
}

.results-item-ratingtext {
  width: 110px;
  text-align: center;
  font-weight: normal;
  color: #666;
  background-color: #f2f2f2; 

  display: inline-block;
  padding: 4px 0px;
  margin-top: 30px;
  margin-right: 4px;
  vertical-align: middle;
}

.results-item-type {
  width: 120px;
  text-align: left;
}

/* ----- Фильтер ----- */
.filter-range {
  width: 318px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;

  margin-top: -1px;

  font-weight: normal;
}

.price-controls input {
  width: 50px;
  height: 30px;
  margin: 0;

  font-size: 14px;
  line-height: 21px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.min-price {
  padding-left: 67px;
}

.max-price  {
  padding-left: 57px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 95px;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* -----  ----- */

.results-item-moreinfo {
  display: inline-block;
  padding: 3px 17px;
  margin-right: 6px;
  margin-top: 2px;
  vertical-align: middle;
}

.results-item-book {
  display: inline-block;
  padding: 3px 17px;
  vertical-align: middle;
}

.results-item-type {
  display: inline-block;
  margin-left: 0px;
  vertical-align: middle;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button path:active {
  fill: rgba(255, 255, 255, 0.5);
}

.results-name {
  padding-top: 25px;
  padding-bottom: 8px; 
}

.results-name:hover {
  color: #81b3d2;
  cursor: pointer;
}

.results-name:active {
  opacity: 0.3;
}

.results-item-textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-bottom: 12px;
}

/* Всплывающая форма */

.search-form {
  height: 291px;
  position: relative;
}

.interest {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000;

  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}

.button-search {
  display: inline-block;
  padding: 30px 140px;
  margin-top: 38px;
  margin-left: 316px; 
  cursor: pointer;
  vertical-align: middle;
}

.form-search {
  position: absolute;
  color: #000;
  background-color: #fff;
  
  -webkit-box-shadow: 0 2px 10px 2px rgba(166,166,166,1);
  box-shadow: 0 2px 10px 2px rgba(166,166,166,1);

  top: auto;
  left: 316px;
  width: 570px;
  height: 395px;

  padding: 55px 56px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  -webkit-animation-name: animation;
  animation-name: animation;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.values-arrive {
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 29px;
}

.values-departure {
  margin-left: 57px;
  margin-bottom: 29px;
}

.form-left-1 {
 margin-bottom: 2px;
 margin-left: 19px;
 padding-left: 13px;
 padding-right: 33px;
}

.form-left-2 {
  margin-left: 16px;
  padding-left: 16px;
  padding-right: 33px;
}

.form-left-3 {
 margin-top: 3px;
 text-align: center;
}

.form-left-4 {
  margin-left: 27px;
  margin-top: 3px;
  text-align: center;
}

.form-search p {
  margin: 0;
  margin-bottom: 29px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 580px;
}

.values-arrive input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 346px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 12px;
  
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #f2f2f2;
}

.values-departure input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 346px;
  padding-bottom: 6px;
  padding-top: 5px;
  padding-left: 9px;
  
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #f2f2f2;
}
.person input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 114px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  
}

.form-search input[type="text"]:hover {
  background-color: #ebebeb;
}

.form-search input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar-svg-arrive {
  position: absolute;
  top: 60px;
  left: 483px;
}

.calendar-svg-departure {
  position: absolute;
  top: 129px;
  left: 484px;
}

.form-search svg {
  fill: #a9a9a9;
  cursor: pointer;
}

.form-search svg:hover {
  fill: #000000;
}

.form-search svg:active {
  fill: #81b3d2;
}

.search {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  position: absolute;
  background-color: #81b3d2;
  border: none;

  top: 282px;
  left: 55px;
  width: 458px;
  height: 58px;
  cursor: pointer;
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.5);
}

.values-child, .values-adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 250px;
}

.values-child {
  margin-right: 67px;
}

.values-adults {
  margin-left: 53px;
  margin-right: 0px;
}

.adult-margin {
  margin-top: 10px;
  margin-right: 42px;
}

.child-margin {
 margin-left: 52px;
 margin-top: 10px;
}

.form-minus-child {
  position: absolute;

  top: 13px;
  left: 125px;

  background: none;
  border: none;
}

.form-plus-child {
  position: absolute;

  top: 13px;
  left: 200px;
  background: none;
  border: none;
}

.form-minus-adults {
  position: absolute;

  top: 13px;
  left: 120px;
  background: none;
  border: none;
}

.form-plus-adults {
  position: absolute;

  top: 13px;
  left: 198px;
  background: none;
  border: none;
}

/* ---------------Чекбоксы------------ */

.filter-input-checkbox {
  display: block;
  position: relative;
  width: 50px;
  height: 23px;
  padding-left: 38px;
}

input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0px;
  left: -5px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg"); 
  background-repeat: no-repeat;
  stroke-color: red;

  cursor: pointer;
}

.filter-input-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #fff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg"); 
  background-repeat: no-repeat;
}

.filter-option {
  margin-bottom: 23px;
}

.filter-list {
  margin-left: 3px;
  padding-left: 0px;
}

input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-on-dsbld.svg");
}

input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-off-dsbld.svg");
}

/* ------------------*/

.maps {
  background-image: url("../img/map.jpg");
}

svg:hover .html-academy-logo {
  fill: #81b3d2;
}

svg:active .html-academy-logo {
  fill: #bdbbbc;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal;
  margin-top: -5px;
  margin-right: -15px;
}

.website {
  display: block;
  margin-right: 8px;
  margin-top: -5px;
}

li .habitation {
  color: #766357;
}

.modal-open {

 -webkit-animation-duration: 0.4s;

 animation-duration: 0.4s;
 display: block;
}

.modal-close {
  display: none;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  70% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  90% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  70% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  90% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.footer-opacity {
  position: absolute;
  bottom: 0;
  width: 1200px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

.reasons-1 {
  position: relative;
}

.reasons-1-number::before {
  content: "";
  position: absolute;
  top: 122px;
  left: 173px;
  width: 9px;
  height: 1px;
  background-color: #fff;
}

.reasons-1-number::after {
  content: "";
  position: absolute;
  top: 122px;
  left: 217px;
  width: 9px;
  height: 1px;
  background-color: #fff;
}

.reasons-2-text {
  position: relative;
}

.reasons-2-number::before {
  content: "";
  position: absolute;
  top: 122px;
  left: 173px;
  width: 9px;
  height: 1px;
  background-color: #fff;
}

.reasons-2-number::after {
  content: "";
  position: absolute;
  top: 122px;
  left: 217px;
  width: 9px;
  height: 1px;
  background-color: #fff;
}

.reasons-3 {
  position: relative;
}

.line3::before {
  content: "";
  position: absolute;
  top: 138px;
  left: 82px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.line3::after {
  content: "";
  position: absolute;
  top: 138px;
  left: 123px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.reasons-4 {
  position: relative;
  padding-left: 18px;
}

.line4::before {
  content: "";
  position: absolute;
  top: 138px;
  left: 123px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.line4::after {
  content: "";
  position: absolute;
  top: 138px;
  left: 167px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.reasons-5 {
  position: relative;
  padding-right: 3px;
}

.line5::before {
  content: "";
  position: absolute;
  top: 138px;
  left: 98px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.line5::after {
  content: "";
  position: absolute;
  top: 138px;
  left: 140px;
  width: 9px;
  height: 1px;
  background-color: #333;
}

.foter-inner {
  padding-top: 3px;
  margin-left: -5px;
}

.hashtag-inner {
 margin-left: 23px;
}