body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  
}

.hero {
  width: 1200px;
  height: 800px;
  background-color: #fff;
  background-image: 
    url("../img/welcome.png"),
    url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-position: 374px 135px, -1px -8px;

  height: 555px;  
  overflow-y: hidden;
  margin-bottom: 60px;

}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color:#000;
  
  background-color: #fff;
}

.item-navigation {
  list-style: none;
}

.item-navigation a {
  color: #000;
}

.promotion-item {
  list-style: none;
}

.slogan {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
}

.reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  font-weight: normal;
  background-color: #fff;
}

.reasons-1-text {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
}

.reasons-1-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  padding-top: 42px;
}

.reasons-1-number {
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.reasons-1-slogan {
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.promotion {
  background-color: #fff;
}

.promotion-img {
  display: block;
  margin: auto;
}

.promotion-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.promotion-text {
  text-align: center;
  color: #333;
}

.final-reasons {
  list-style: none;
}

.reasons-2-text {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
}

.reasons-2-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  padding-top: 42px;
}

.reasons-2-number {
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.reasons-2-slogan {
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.advantages-3 {
  background-color: #eee;
}

.final-reasons-title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  padding-top: 42px;
}

.final-reasons-number {
  text-align: center;
  color: #333;
  font-weight: normal;
}

.final-reasons-text {
  text-align: center;
  color: #333;
  font-weight: normal; 
}

.search-form {
  background-color: #fff;
}

.interest {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.interest-text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  font-weight: normal;
}

.button-search {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-search:hover {
  background-color: #604e43;
}
.button-search:focus {
  background-color: #766357;
}
.button-search:active {
  background-color: #503e33;
}



.form-search {
  background-color: #fff;
  color: #000;
}

.form-search input[type="date"],
.form-search input[type="number"] {
  font: inherit;
  color: #000;

  background-color: #f2f2f2;
  border: none;
}

.form-search input:focus {
  border-color: #ebebeb;
  background-color: #fff;
}

.form-search input:hover {
  background-color: #ebebeb;
}

.hashtag {
  color: #000000;
  background-color: #fff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.social {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-copyright {
  text-align: center;

  background-color: #fafbf7;
}

.inner-page {
  color: #000;
  background-color: #fefefe;
}

.item-navigation-name:focus {
  color: #766357;
}

.item-navigation-name:hover {
  color: #81b3d2;
}

.item-navigation-name:active {
  color: #000;
  opacity: 0.3;
}

.comfort-head {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.type-head {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.filter-option {
  list-style: none;

  text-align: left;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: normal;
}

fieldset {
   border: none;
}

input[type="submit"] {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: normal;

  background-color: transparent;
}


input[type="submit"]:hover {
  color: #000000;
  background-color: #fff;
}

.selection-head {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  }

  .selection-sort {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-weight: normal;
  }

  .selection-option {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  font-weight: normal;
  list-style: none;
  }

  .results-name {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  }

  .results-item-type {
  text-align: center;
  color: #333;
  font-weight: normal;
  }

  .results-item-price {
  text-align: center;
  color: #333;
  font-weight: normal;
  }

  .results-item-moreinfo {
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
  }

  .results-item-book {
  text-align: center;
  color: #fff;
  background-color: #766357;
  }

.results-item-moreinfo:hover {
  background-color: #669ec0;
}

.results-item-moreinfo:active {
  background-color: #5496bd;
}

  .results-item-book:hover {
  background-color: #604e43;
}

.results-item-book:active {
  background-color: #503e33;
}

.results-item-ratingtext {
  
  width: 110px;
  height: 27px;
  text-align: center;
  font-weight: normal;
  color: #666;
  background-color: #f2f2f2; 

  display: inline-block;
  
  margin-right: 73px;
  margin-top: 95px;
}



/* ----- Сеточные стили ----- */

img {
max-width: 100%;
height: auto;
} 

.big-container {
  margin: 0px auto;
  background-color: #fff;
  width: 1200px;
}

.main-header {
  height: 56px;
}

.item-navigation {
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1200px;
  padding-left: 0px;
  align-items: center;
  margin: 0px;
}

.logo {
  margin-top: 22px;
}


.reasons-1 {
  display: flex;
  margin-bottom: 0px;
  width: 1200px;
  height: 258px;
}

.city-photo {
  height: 256px;  
  overflow-y: hidden;
}

.slogan {
 margin-bottom: 35px;
}

.reasons {
  margin-bottom: 55px;
}

.promotion-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 332px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
}

.promotion-item {
  width: 400px;
  align-self: baseline;
}

.promotion {
 margin-bottom: 0px;
 height: 332px;
 width: 1200px;
}

.photo-bridge {
  height: 257px;  
  overflow-y: hidden;
}

.advantages-2 {
  display: flex;
  width: 1200px;
  height: 257px;
  margin-bottom: 0px;
}

.advantages-3 {
  width: 1200px;
  height: 257px;
  margin-bottom: 0px;
}

.final-reasons {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.main-footer {
  height: 123px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



/* ----- странница отелей ----- */


.sorting {
  width: 1200px;
  height: 800px;
  background-image: 
    url("../img/filter_background.jpg");
  background-repeat: no-repeat;

  height: 216px;  
  overflow-y: hidden;
  margin-bottom: 0px;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.filter-range {
  align-self: center;
  margin-right: 73px;
}

.form-option {
  display: flex;
  padding-top: 28px;
}

.comfort {
padding-left: 73px;
}

.type {
  padding-left: 110px;
  width: 288px;
  height: 219px;
}

.selection {
  width: 1200px;
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selection-head {
  padding-left: 73px;
}

.selection-sort {
  padding-left: 37px;
}

.selection-option-total {
   display: flex;
   justify-content: flex-start;
}

.selection-option {
  padding-right: 32px;
}

.selection-switcher-1 {
  padding-left: 500px;
  align-self: center;
}

.selection-switcher-2 {
  padding-left: 10px;
}

.results-item {
  display: flex;
   justify-content: space-between;
   width: 1200px;
   height: 152px;
}

.results-item {
  border-top: 1px solid #e5e5e5;
}

.results {
  border-bottom: 1px solid #e5e5e5;
}


.results-item-img {
  width: 135px;
  height: 90px;
  align-self: center;
  padding-left: 73px;
  padding-right: 28px;
}

.results-item-wrap {
  display: flex;
  justify-content: space-between;
}

.results-name {
  margin: 0px;
  padding-top: 28px;
  padding-bottom: 15px;
}




/* ----- Фильтер ----- */
.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* -----  ----- */

.results-item-moreinfo {
  display: inline-block;
  padding: 3px 17px;
  margin-right: 6px;
}

.results-item-book {
  display: inline-block;
  padding: 3px 17px;
}

.results-item-type {
display: inline-block;
margin-left: 0px;

}


.results-item-reating {
  position: relative;
}

.results-item-reating::before {
  content: "";
  position: absolute;
  top: 29px;
  bottom: 47px;
  width: 18px;
  height: 17px;

  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-social ul {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  opacity: 0.7;
}

.selection-switcher-2,
.selection-switcher-1  {
  fill: #cacaca;
}


.results-name:hover {
  color: #81b3d2;
}

.results-name:active {
  color: #000;
  opacity: 0.3;
}

.results-item-textblock {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 12px;
}


/* Всплывающая форма */

.search-form {
  width:1200px;
  height: 291px;
}

.interest {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 55px;
}

.button-search {
  display: inline-block;
  padding: 30px 140px;
  margin-top: 52px;
  margin-left: 316px; 
 
  
}

.form-search {
  position: absolute;
  color: #000;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

  top: 2248px;
  left: 348px;
  width: 568px;
  height: 395px;
}

.values-arrive {
  padding-top: 55px;
  padding-left: 55px;
}

.values-departure, .values-adults {
  padding-left: 55px;
}

.form-search p {
  margin: 0;
  margin-bottom: 29px;
}

.person {
  display: flex;
  justify-content: space-between;
  width: 458px;

}

.form-search input[type="date"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 346px;
  padding: 6px 13px;
  padding-right: 44px;
  background-color: #f2f2f2;

}

.form-search input[type="number"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 114px;
  padding: 6px 38px;
  background-color: #f2f2f2;
}

.form-search input[type="date"]:hover {
  background-color: #ebebeb;
}

.form-search input[type="date"]:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.form-search input[type="number"]:hover {
  background-color: #ebebeb;
}

.form-search input[type="number"]:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}


.date {
  background-image: url("../img/calendar.svg");
  background-position: 317px center;
  background-repeat: no-repeat;
}

.date {
  background-image: url("../img/calendar.svg");
  background-position: 317px center;
  background-repeat: no-repeat;
}

.search {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;

  position: absolute;
  background-color: #81b3d2;
  border: none;

  top: 282px;
  left: 55px;
  width: 458px;
  height: 58px;
  
}

.search:hover {
  background-color: #669ec0;
}

.search:active {
  background-color: #5496bd;
}


/* Чекбоксы */
.filter-input-checkbox {
  position: relative;
  width: 27px;
  height: 23px
  display: block;
}

 input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0px;
  left: -72px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.png"); 
  background-repeat: no-repeat;

  cursor: pointer;

}

.filter-input-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #fff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

 input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.png"); 
  background-repeat: no-repeat;
}


.filter-option {
  margin-bottom: 23px;
}



.maps-img {
  height: 473px;  
  overflow-y: hidden;
}
